<!DOCTYPE html>
<html>
<head>
    <title>Login - DogBnB</title>
</head>
<body>
    <h1>Login</h1>
    
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <form action="/login-form" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="/register-form">Register here</a></p>
</body>
</html>
